// Typography --------------------------------------------
html {
	font-size: 62.5%; // 16px x .625 = 10px (1rem = 10px)
}

body {
	font-family: sans-serif; // Change font family
	font-size: 1.6rem;
}


// Change font font-family
// Set spacing rythem with line-height