// Typography ----------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://cloud.typography.com/7908354/6363172/css/fonts.css');

html {
	font-size: 62.5%; // 16px x .625 = 10px (1rem = 10px)
}

body {
	font-family: $base-font;
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 400;
	font-style: normal;
	color: $paleblack-base;
}

#{headings()} {
	font-family: $display-font;
	color: $paleblack-display;
}

h1 {
	font-size: 5.4rem;
	line-height: 5.4rem;
	font-weight: 800;
}
h2 {
	font-size: 4.8rem;
	line-height: 5.4rem;
	font-weight: 800;
}
h3 {
	font-size: 2.6rem;
	line-height: 3.0rem;
	font-weight: 800;
}
h4 {
	font-size: 2.1rem;
	line-height: 2.4rem;
	font-weight: 700;
}