// Susy Setup -------------------------------------------
// http://susydocs.oddbird.net/en/latest/settings/
$susy: (
  output: float,
  container: 1440px,
  columns: 12,
  gutters: 1/4,
  gutter-position: after,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  )
);

@include border-box-sizing;

body {
	@include container;
}


// SECTION 1: Intro -----------------------------------------
.section1 {
	text-align: center;
	.tagline {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		h1 {
			margin-bottom: $large;
		} //h1
	} //tagline
} //section1

// SECTION 2: About -----------------------------------------
.section2 {
	@include clearfix;
	text-align: center;
	padding: 10.2rem gutter()*4;
	header {
		margin-bottom: 6.6rem;
		h2 {
			margin-bottom: 1.2rem;
		} //h2
		@media (min-width: 800px) {
			margin-bottom: 9.6rem;
		} //media
	} //header
	[class*='skills'] {
		margin-bottom: 6.6rem;
		h3 {
			margin-bottom: 3.0rem;

			@media (min-width: 800px) {
				margin-bottom: 5.4rem;
			} //media
		} //h3
		p {
			text-align: justify;

			@media (min-width: 800px) {
				text-align: center;
				margin-bottom: 0rem;
			} //media
		} //p
	} //class*='skills'
	.skills {
		@include span(full);

		@media (min-width: 800px) {
			@include span(4);
		} //media
	} //skills
	.skills-last {
		@include span(full);
		margin-bottom: 0rem;

		@media (min-width: 800px) {
			@include span(4 last);
		} //media
	} //skills-last
	img {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $xxlarge;
		height: auto;
		display: block;
		max-width: 20.4rem;

		@media (min-width: 800px) {
			max-width: 24.6rem;
		} //media
	} //img
} //section2

// SECTION 3: Testimonials 1 -------------------------------
.section3 {
	width: 100%;
	max-width: 144.0rem;
	height: 52.8rem;
	padding-right: gutter()*4;
	padding-left: gutter()*4;
	display: flex;
	justify-content: center;
	align-items: center;
	.blockquote {
		text-align: center;
		@media (min-width: 800px) {
			//@include span(6);
		} //media
		p {
			margin-bottom: $large;
		} //p
	} //blockquote
} //section3

// SECTION 4: Credentials -------------------------------------
.section4 {
	@include clearfix;
	padding: 10.2rem gutter()*4;
	header {
		margin-bottom: 6.6rem;
		h2 {
			text-align: center;
			margin-bottom: 1.2rem;
		} //h2
		p.subheading {
			text-align: center;
		}
		@media (min-width: 800px) {
			margin-bottom: 9.6rem;
		} //media
	} //header
	img {
		width: 100%;
		max-width: 17.5rem;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3.0rem;
	} //img
	.section4-left {

		@media (min-width: 800px) {
			@include push(2);
			@include span(4);
		} //media
	} //section4-left
	.section4-right {

		@media (min-width: 800px) {
			@include span(4);
		} //media
	} //section4-right
	p {
		margin-bottom: $large;
		text-align: justify;
	} //p
}

// SECTION 5: Testimonials 2 ----------------------------------
.section5 {
	width: 100%;
	max-width: 144.0rem;
	height: 52.8rem;
	padding-right: gutter()*4;
	padding-left: gutter()*4;
	display: flex;
	justify-content: center;
	align-items: center;
	.blockquote {
		text-align: center;
		@media (min-width: 800px) {
			//@include span(6);
			} //media
		p {
			margin-bottom: $large;
		} //p
	} //blockquote
} //seection5


// SECTION 6: Logistics -------------------------------------
.section6 {
	padding: 10.2rem gutter()*2;
	.section6-left {
		@include clearfix;
		@include span(6);
		h2 {
			margin-bottom: $xxxlarge;
		}
		ul {
			padding-left: 2.0rem;
			list-style-type: square;
			li {
				padding-bottom: 1.8rem;
			}
		}
	}
	.section6-right {
		@include span(6 last);
		img {
			width: 100%;
			max-width: 72.0rem;
			//min-width: 68.0rem;
			height: auto;
		}
	}
}

// SECTION 7: Contact ----------------------------------------
.section7 {
	@include clearfix;
	padding: 10.2rem gutter()*2;
	@include span(full);
	h2 {
		margin-bottom: $xxxlarge;
	}
	ul {
		margin: 0 auto;
		padding: 6.0rem;
		li {
			margin-top: $small;
			margin-bottom: $small;
		}
	}
}