// Grid system ---------------------------------
.container-fluid {
	max-width: 1680px;
	padding: $medium;
}

// Global ----------------------------------------
/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack*/
/* For modern browsers */
.cf:before, .cf:after {
	content:"";
	display:table;
}
.cf:after {
	clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}

