// Grid system ---------------------------------------------------
// Grid system will change from Bootstrap to Susy
// Susy is the way to go!!
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);



.container-fluid {
	max-width: 1600px;
	padding: 0px;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}

// Global --------------------------------------------------------
/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack*/
/* For modern browsers */
.cf:before, .cf:after {
	content:"";
	display:table;
}
.cf:after {
	clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}

.last-p {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}


// Header -------------------------------------------------------
/*
.bgimg {
	background: url(../../images/image1.jpg) no-repeat center center;
	position: fixed;
	width: 100%;
	height: 750px;
	top: 0;
	left: 0;
	z-index: -1;
}
*/

// SECTION 1: Intro -----------------------------------------
.section1 {
	background: url(../../images/image1.jpg) no-repeat center center fixed;
	background-image:
		linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url(../../images/image1.jpg);
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 100vh;
}
.tagline {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	h1 {
		margin-bottom: $large;
	}
}

// SECTION 2: About -----------------------------------------
.section2 {
	padding-top: 10.2rem;
	padding-bottom: 10.2rem;
	padding-left: 6.0rem;
	padding-right: 6.0rem;
	.section2-title {
		text-align: center;
		margin-bottom: 9.6rem;
	}
	.basketball-iq {
		padding-left: 0rem;
	}
	.shooting {
		padding-right: 0rem;
	}
	.section2-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $xxlarge;
		max-height: 200px;
	}
	.section2-subtitle {
		text-align: center;
		margin-bottom: 5.2rem;
	}
}

// Break Image --------------------------------------------------
.break-image {
	position: relative;
	display: inline-block;
	img {
		width: 100%;
		max-height: 52.8rem;
		position: relative;
		z-index: -1;
		display: block;
	}
	p {
		position: absolute;
		top: 30.0rem;
		left: 10.0rem;
		width: 100%;
	}
}

// SECTION 3: Credentials -------------------------------------
.section3 {
	.col-lg-6 {
		padding: 0px;
	}
	padding-left: 6.0rem;
	padding-top: 10.2rem;
	padding-right: 6.0rem;
	padding-bottom: 10.2rem;
	p {
		margin-bottom: $large;
		text-align: justify;
		}
	div.section3-left {
		padding-right: 3.0rem;
		h2 {
			text-align: right;
			margin-bottom: $xxxlarge;
		}
		.img-coach {
			float: right;
			margin-left: 2.0rem;
		}
	}
	div.section3-right {
		padding-top: 9.0rem;
		padding-left: 3.0rem;
	}
}

// SECTION 4: Testimonials ---------------------------------------
.section4 {
	background: url(../../images/image4.jpg) no-repeat center center fixed;
	background-image:
		linear-gradient(
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url(../../images/image4.jpg);
	padding: 6.0rem;
	padding-top: 10.2rem;
	padding-bottom: 10.2rem;
	.blockquote {
		padding-top: 6.0rem;
		padding-bottom: 6.0rem;
		margin-left: auto;
		margin-right: auto;
		max-width: 50%;
		p {
			margin-bottom: $large;
		}
	}
}


// SECTION 5: Logistics -------------------------------------
.section5 {
	.col-lg-5, .col-lg-6, .col-lg-7 {
		padding: 0px;
	}
	.section5-left {
		padding-top: 10.2rem;
		padding-right: 6.0rem;
		padding-bottom: 6.0rem;
		padding-left: 6.0rem;
		h2 {
			margin-bottom: $xxxlarge;
		}
		ul {
			padding-left: 2.0rem;
			list-style-type: square;
			li {
				padding-bottom: 1.8rem;
			}
		}
	}
}

// SECTION 6: Contact ----------------------------------------
.section6 {
	padding: 6.0rem;
	padding-top: 10.2rem;
	padding-bottom: 10.2rem;
	h2 {
		margin-bottom: $xxxlarge;
	}
	ul {
		margin: 0 auto;
		padding: 6.0rem;
		li {
			margin-top: $small;
			margin-bottom: $small;
		}
	}
}
