// Typography ----------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://cloud.typography.com/7908354/6363172/css/fonts.css');

// Fonts
$logo                   : 'Alfa Slab One', sans-serif;
$display-font			: 'Gotham A', 'Gotham B', sans-serif;
$base-font				: 'Gotham SSm A', 'Gotham SSm B', sans-serif;


// Colors -------------------------------------------------

// Theme Colors
$primary-orange			: #F0631E;
$milk					: #ECEDDF;


// Text and Background Colors
$paleblack-base			: #282422;
$paleblack-display		: rgba(0,0,0,0.75);
$link					: #0047ba;
$link-hover				: #0060FA;

// Grey scale
$grey-one				: #f0f0f0;
$grey-two				: #e0e0e0;
$grey-three				: #bdbdbd;
$grey-four				: #939598;
$grey-five				: #757575;

// Black
$ink                    : #212121;


// Spacing ------------------------------------------------

$tiny					: 6rem;
$small					: 1.2rem;
$medium					: 1.8rem;
$large					: 2.4rem;
$xlarge					: 3.0rem;
$xxlarge				: 3.6rem;
$xxxlarge				: 4.2rem;
$xxxxlarge				: 4.8rem;