// Typography ---------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('http://cloud.typography.com/7908354/734746/css/fonts.css');


// Fonts
$logo                   : 'Alfa Slab One', sans-serif;
$display-font			: 'Gotham A', 'Gotham B', sans-serif;
$base-font				: 'Gotham SSm A', 'Gotham SSm B', sans-serif;


// Colors -------------------------------------------------

// Theme Colors
$primary-orange			: #F0631E;
$milk					: #ECEDDF;


// Text and Background Colors
$paleblack-base			: #282422;
$paleblack-display		: rgba(0,0,0,0.75);
$link					: #0047ba;
$link-hover				: #0060FA;

// Grey scale
$grey-one				: #f0f0f0;
$grey-two				: #e0e0e0;
$grey-three				: #bdbdbd;
$grey-four				: #939598;
$grey-five				: #757575;

// Black
$ink                    : #212121;


// Spacing ------------------------------------------------

$tiny					: 6px;
$small					: 12px;
$medium					: 18px;
$large					: 24px;
$xlarge					: 30px;
$xxlarge				: 36px;
$xxxlarge				: 42px;
$xxxxlarge				: 48px;