@import "compass";
@import "compass/reset";
@import "breakpoint";
@import "susy";

@import "variables";
@import "mixins";
@import "base";
@import "layout";
@import "modules";
@import "functions";


body {
	//background-color: $primary-orange;
}

.tagline {
	text-align: center;
	h1 {
		font-family: $logo;
		font-size: 5.4rem;
		line-height: 5.4rem;
		letter-spacing: 5px;
		color: #FF9F07;
		color: #fff;
		color: $grey-one;
	}
	color: #fff;
	font-size: 2.4rem;
	line-height: 3.0rem;
	font-weight: 200;
}

// SECTION 2: About ----------------------------------------
.section2 {
	background-color: #fff;
	p {
		text-align: center;
	}
}
.subheading {
	font-family: $display-font;
	font-size: 4.8rem;
	font-weight: 200;
	line-height: 4.8rem;
	}


// SECTION 3: Testimonials 1 -------------------------------
.section3 {
	color: #fff;
}


// SECTION 4: Credentials ---------------------------------- 
.section4 {
	background-color: #fff;
}

// SECTION 5: Testimonials 2 --------------------------------
.section5 {
	background-color: #f0f0f0;
	color: #fff;
}
.quote {
	font-size: 2.1rem;
	line-height: 3.6rem;
}
.quote-source {
	float: right;
	margin-top: $small;
	color: #fff;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

// SECTION 6: Logistics ------------------------------------ 
.section6 {
	background-color: #fff;
}

// SECTION 7: Contact --------------------------------------
.section7 {
	background-color: #fff;
	h2 {
		text-align: center;
	}
	ul {
		background-color: black;
		color: #fff;
		width: 50%;
		border: 1px solid #212121;
	}
}