@import 'https://fonts.googleapis.com/css?family=Bangers|Oswald:300,400,700';
@import "compass";
@import "compass/reset";
@import "breakpoint";

@import "variables";
@import "mixins";
@import "base";
@import "layout";
@import "modules";
@import "functions";


body {
	//background-color: $primary-orange;
}

.tagline {
	text-align: center;
	h1 {
		font-family: $logo;
		font-size: 6.0rem;
		line-height: 6.0rem;
		letter-spacing: 5px;
		color: $grey-one;
		color: #FF9F07;
	}
	color: #fff;
	font-weight: 200;
	font-size: 2.4rem;
	line-height: 3.0rem;
}

// --------------------------- Advanced Basketball Skills Training
.section2 {
	background-color: #fff;
	.section2-title {
		h3 {
			font-size: 3.2rem;
			line-height: 3.6rem;
			margin-bottom: 3.0rem;
			font-weight: 800;
		}
	}
	h2 {
		font-size: 4.8rem;
		font-weight: 200;
	}
	h3 {
		font-size: 2.6rem;
		line-height: 3.0rem;
		font-weight: 800;
	}
	p {
		text-align: center;
	}
}


// -------------------------------------------------- Break Image
.section3 {
	background-color: #fff;
}

.section4 {
	background-color: $primary-orange;
	color: $milk;
}

.section5 {
	background-color: #fff;
}

.section6 {
	background-color: #fff;
}

.blockquote {
	border-left: 5px solid $milk;
	padding-left: $large;
}

.quote {
	font-size: 24px;
	line-height: 36px;
}

.quote-source {
	float: right;
	margin-top: $small;
	color: $milk;
	font-size: 18px;
	line-height: 24px;
}